*{
    margin: 0;
    padding:0;
}
.respones{
    display:none;
}
nav{
    background-color:beige;
    height:60px;
    display:flex;
    padding-left:50px;
    padding-right:50px;
    align-items: center;
    justify-content: space-between;
}
ul{
    list-style:none;
}
nav img{
    margin-left:50px;
    width:150px;
    align-items: cente;
}
.nav_links{
    display:flex;
    justify-content: space-between;
    margin-left:-250px;
    width:35%;
}
.nav_icons{
    display:flex;
    justify-content: space-between;
    width:20%;
}
#row_two{
    display:flex;
    justify-content:space-between;
}
#row_two img{
    width:800px;
    height:400px;
}
#row_two div{
    font-size:30px;
    padding:30px;
}
/* row three starts*/
#row_three ul{
    display:flex;
    justify-content:center;
}
#row_three ul li{
    padding-right:20px;
}
/* row_four starts*/
#row_four{
    text-align:center;
}
/* row five starts */
#row_five {
    padding:30px 60px;
}
/* row six starts */
#row_six{
    display: flex;
    justify-content: space-around;
}
#row_six .box{
    height:250px;
    font-size:100px;
    padding-top:20px;
    text-align: center;
    width:300px;
}
#row_six .box h5,p{
    font-size:15px;
}
/* row eight starts */
#row_eight{
    display:flex;
}
#row_eight .col_two {
    padding-top:100px;
    padding-left:150px;
}
#row_eight .col_two ul li{
    float:left;
    padding:20px;
}
/* row ten starts */
#row_ten {
    display:flex;
    justify-content: space-evenly;
}
#row_ten .col_one ul li{
    padding:20px;
}
/* row twelve starts */
#row_twelve{
    display:flex;
}

/* row fifteen starts */
#row_fifteen{
    display:flex;
    justify-content: space-around;
    padding: 0 300px;
}

/* row eighteen starts */
#row_eighteen{
    display:flex;
    justify-content: space-around;
}

/* row nineteen starts */
#row_nineteen {
    display:flex;
    justify-content: space-between;
}

#row_nineteen .col_one ul, .col_two ul {
    list-style:inside;
}

/* row twenty starts */
#row_twenty {
    display:flex;
}
#row_twenty .col_two{
    padding-top:200px;
}

/* row twentyone starts */
#row_twentyone{
    display:flex;   
    justify-content: space-evenly;
}
#row_twentyone ul{
    list-style:inside;
}
 /* row twenty tow starts */
 #row_twentytwo ul{
    list-style:inside;
 }

 /* row twentythree starts */
 #row_twentythree{
    display:flex;   
    justify-content: space-evenly;
 }
#row_twentythree h4{
    padding-bottom:20px;
}
#row_twentythree ul{
    list-style:inside;
}
#row_twentythree ul li{
    padding-bottom:10px;
}
/* row twenty four starts*/
#row_twentyfour{
    display:flex;
}
/* row twentyfive starts */
#row_twentyfive h5, p{
    padding-bottom:10px;
}

/* row twentysix starts */
#row_twentysix .col_one{
    display:flex;
    margin-top:30px;
}
#row_twentysix .col_one i, .col_two i{
    padding: 0px 20px;
}
#row_twentysix .col_two{
    display:flex;
    margin-top:30px;}
/* row twentyseven starts */
#row_twentyseven{
    display:flex;
    justify-content: space-evenly;
}
#row_twentyseven ul{
    list-style:none;
}
#row_twentyseven h3, ul li{
    padding-bottom:10px;
}
p, h5{
    font-size:20px;
}

/* row twentyeight starts */
#row_twentyeight{
    display:flex;
    justify-content: space-around;
    padding-top:20px;
}
#row_twentyeight ul li{
    float:left;
    padding-right:20px;
}





    
@media(max-width:768px){
    
  .nav_links{
        display: none;
    }
    .hide_links{
        display:none;
    }
    .nav_icons{
        justify-content: space-between;
        font-size:25px;
        margin-left:10px;
        align-items: center;
    }
    .respones{
        width:20%;
        display:flex;   
        justify-content: space-between;
        font-size:24px;
        align-items: center;
    }
    #row_two{
        display:flex;
        flex-direction:column-reverse;
        width:530px;
    }
    #row_two .col_one{
        text-align: center;
    }
    #row_two img{
        width:500px;
        margin-left:-15px;
    }
    #row_three{
        margin-top:70px;
    }
    #row_four{
        padding:20px;
        font-size:14px;
    }
    #row_four br{
        display:none;
    }
    #row_five img{
        width:500px;
        margin-left:-45px;
        
    }

    #row_six{
        display: flex;
        flex-wrap: wrap;
    }
    #row_seven{
        padding:30px;
    }
    #row_seven br{
        display:none;
    }
    #row_eight{
        width:500px;
        display: flex;
        flex-direction:column;
    }
    #row_eight img{
        width:500px;
        margin-left:15px;
    }
    #row_eight .col_two{
        width:500px;
        text-align: center;
        padding:0;
    }

    #row_eight .col_two ul {
        text-align: center;
        
    }

    #row_nine{
        width:450px;
        margin:auto;
    }

    #row_nine br{
        display:none;
    }
    #row_ten{
        display:flex;
        flex-direction: column-reverse;
    }
    #row_ten .col_one{
        width:500px;
        margin:auto;
        padding: 20px 80px;

    }
    #row_ten .col_two img{
        width:400px;
        margin-left:60px;
    }
    #row_eleven{
        width:400px;
        margin:auto;
    }
    #row_eleven p{
        font-size:18px;
        width:500px;
        margin-left:-50px;
    }

    #row_twelve{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:500px;
        margin:auto;
    }

    #row_twelve div:nth-child(1){
        display:none;
    }
    
    #row_twelve div:nth-child(2){
        width:400px;
        margin:auto;
        font-size:15px;
    }

    
    #row_twelve div:nth-child(2) img{
        width:400px;
    }
    #row_twelve div:nth-child(2) p{
        width:450px;
    }
    #row_twelve div:nth-child(3), br{
        display:none;
}
#row_thirteen {
    padding:30px;
}
#row_fourteen img{
    width:500px;
    display: flex;
    justify-content: center;

}
#row_fifteen img{
    width:100px;
    align-items: center;
    margin-bottom: 20px;
}

#row_sixteen img{
    width:500px;
    margin-top: 10px;
}
#row_seventeen{
    padding:20px;
}
#row_eighteen img{
    width:250px;
}

#row_nineteen{
    display:flex;
    flex-direction: column;
    padding:20px;
}
#row_nineteen ul li{
    text-align:left;
    padding:20px;
    text-indent: -20px;
}
#row_twenty{
    width:500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#row_twenty img{
    width:200px;
    
}
#row_twenty .col_two{
    margin-top: -50px;
    padding:80px;
    font-size:16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#row_twenty .col_two p{
    font-size: 16px;
    width:420px;
}
#row_twenty .col_two p:last-child{
    font-size: 16px;
    text-align: center;
}
#row_twentyone{
    display:flex;
    flex-direction: column;
    
}
#row_twentytwo{
    display: none;
}
#row_twentythree{
    display: none;
}
#row_twentyfive{
    display:none;
}
#row_twentyseven{
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;
}
#row_twentyeight{
    width:500px;
    display: flex;
    flex-direction: column;
}
#row_twentyeight ul {
    width:500px;
    font-size: 13px;
}
}